header {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bar-bg-color);
    transition: background-color 0.2s linear;
    padding: 1.5rem 7.5rem;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.116);
    color: var(--text-color);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

header>h2 {
    font-weight: 800;
}

.modeChanger {
    display: flex;
    align-items: center;
}

.modeChanger:hover {
    cursor: pointer;
}

.modeChanger>img {
    width: 15px;
    margin-right: 1rem;
}


@media (max-width: 528px) {

    header {
        width: 100%;
        padding: 1.5rem 10rem;
    }

    header>h2 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 1.5rem 2rem;
    }
}