.cards {
    display: grid;
    grid-template-columns: repeat(4, 264px);
    justify-content: center;
    gap: 4rem;
    padding: 4rem 0;
    transition: all 0.2s linear;
}

@media (max-width: 1028px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 264px);
        justify-content: center;
        gap: 1rem;
        margin: 4rem 0;
    }
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 264px);
        justify-content: space-around;
    }
}

@media (max-width: 528px) {

    .cards {
        grid-template-columns: repeat(1, 264px);
        justify-content: space-around;
    }

}