 .country {
    margin-bottom: 0.75rem;
    padding: 0rem 8rem;
    min-height: 67vh;
    min-height: calc(100vh - 210px);
 }

 .back {
    margin: 3rem 0;
 }

 .flex {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
    gap: 7rem;
 }

@media (max-width: 850px) {
    .country {
        padding:0 2rem;
        margin-bottom: 2rem;
    }

    .flex {
        flex-direction: column;
        gap: 2rem;
    }

    .flex {
        grid-template-columns: 1fr;
        transition: gap 0.2s linear;
    }

    .countryInfo{
        width: 67%;
        margin: 0 auto;
    }
}

@media (max-width: 528px) {

    .flex {
        transition: gap 0.2s linear;
    }

    .countryInfo {
        width: 90%;
        margin-bottom: 1.75rem;
    }
}