@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --body-bg-color: #202C36;
    --header-bar-bg-color: #2B3844;
    --text-color: white;
    --search-bar-bg-color: #2B3844;
    --search-bar-icon-color: white;
    --search-bar-placeholder-color: white;
    --filter-box-bg-color: #2B3844;
    --filter-popup-options-bg-color: #2B3844;
    --filter-option-hover-color: rgba(0, 0, 0, 0.0532439);
    --social-icon-color: #FFFFFF;
    --country-box-bg-color: #2B3844;
    --border-country-bg-color: #2B3844;
    --go-back-bg-color: #2B3844;

}

body {
    background-color: var(--body-bg-color);
    transition: background-color 0.2s linear;
}